services:
  tiktokarchive-blazor:
    image: ${DOCKER_REGISTRY-}tiktokarchiveblazor
    build:
      context: .
      dockerfile: TikTokArchive.Web/Dockerfile
    ports:
      - "${APP_PORT:-8080}:8080"
    environment:
      - OpenSearch:Url=http://opensearch:9200
    volumes:
      - ./media:/media
    depends_on:
      - opensearch

  opensearch:
    image: opensearchproject/opensearch:2
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - "9200:9200"
    volumes:
      - opensearch_data:/usr/share/opensearch/data

volumes:
  opensearch_data:

